li {
    list-style-type: none;
}

.thankswrapper{
  background-color:#dda18c;
}
.thanksContainer {
    background-color:#dda18c;
    padding-bottom: 20px;
}

.thankYouTitle {
    font-family: 'Poppins', sans-serif;
    color: #2C323D;
    text-align: center;
    padding-top: 16px;
    font-size: 2em;
}

.speakersInfo  {
    font-family: 'Open Sans', sans-serif;
    color: #2C323D;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 4px;
}

.speakerNames{
    font-family: 'Open Sans', sans-serif;
    color: #2C323D;
    font-size: 1.2em;
}

.guestSpeakerList  {
    -webkit-columns: 3; /* Chrome, Safari, Opera */
    -moz-columns: 3; /* Firefox */
    columns: 3;
}

.boldName {
    font-weight: bold;
}

.teachersInfo  {
    font-family: 'Open Sans', sans-serif;
    color: #2C323D;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 6px;
}

.teacherNames  {
    font-family: 'Open Sans', sans-serif;
    color: #2C323D;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.groupImg{
  margin-bottom: 0px;
  background-color: #dda18c;
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 675px) {
  .guestSpeakerList {
    columns: 1;
  }
}