.navbar {
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    align-items:flex-start;
  }

  .demoDayInfo {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    }

  .logo {
    width: 6rem;
    height: 6rem;
  }

  .demoDayRegister {
    background-color:#d65a40 ;
    border-radius: .2em;
    width: 100px;
    height: 50px;
    border-style: none;
    cursor: pointer;
  }


  .registerText{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px;
  }

  .demoDayDate  {
    font-family: 'Poppins', sans-serif;
    color: #d65a40;
    font-size: 20px;
    margin: 0px .5em;
  }

  #demoDay {
    color: #2C323D;
  }

  .demoDayDateContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

/* Small devices (landscape phones, 576px and smaller) */
@media (max-width: 576px) {
  .navbar {
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }

  .demoDayInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) {
  .demoDayDate {
    text-align:right;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
