
* {
    border: 1px red dotted;
}
.student-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: .5em;
}
.student-pic-container {
    display: flex;
    justify-content: center;
    width: 360px;
    /* flex-direction: row; */
}

.student-card-background {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #3D5E79;
    height: auto;
    width: 360px;
    margin: 1em;
    margin-left: 1em;
}
.student-card-background-UX {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #2C323D;
    height: auto;
    width: 360px;
    margin: 1em;
    margin-left: 1em;
}
.student-pic {
    display: flex;
    justify-content: center;
    width: 330px;
    height: auto;
    margin-top: .5em;
}
.student-about-container {
    flex-flow: column wrap;
    margin-left: 1em;
    margin-top: .2em;
    margin-right: 1em;
    margin-bottom: .2em;
}
.student-logo {
    display: flex;
    width: 40px;
    height: auto;
    align-self: center;
}
.student-logo-container {
    display: flex;
    flex-direction: row;
    margin-left: .5em;
    width: 340px;
    justify-content: center;
    align-items: flex-end;
}
