/* * {
    border: 1px red dotted;
} */
.student-about-container h2 {
    color:#F6F3E1;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 0px;
    text-align: center;
}

.student-about-container h3 {
    color:#F6F3E1;
    font-family: 'Open Sans';
    font-size: 1.5em;
    margin-top: 0em;
    text-align: center;
}

.student-about-container p {
    color:#F6F3E1;
    font-family: 'Open Sans';
    font-size: 1.2em;
    margin: 1em;
}

.author {
    text-align: right;
    padding-right: 1em;
    margin-top: .5em;
}

.concentration {
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#F6F3E1;
    font-family: 'Poppins';
    font-size: .85em;
    margin-top: .6em;
    margin-bottom: 0em;
    text-align: center;
}

.cohortIntroTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  color: #d65a40;
  /* padding-left: 30px; */
  margin-left: 5.2em;
  margin-top: 2.5em;
  margin-bottom: 0em;

}

.cohortDescription {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    /* padding-left: 30px; */
    line-height: 1.7em;
    padding-right: 3em;
    padding-left: 3em;
    white-space: pre-wrap;
    color: #2C323D;
    margin-top: 0em;
    margin-bottom: 2.5em;
    margin-left: 4em;
    margin-right: 4em;
}

#cohortFrontend {
    color: #F6F3E1;
    background-color: #2C323D;
}
#cohortBackend {
    color: #F6F3E1;
    background-color: #3D5E79;
}

.student-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    max-width: 1200px;
    margin: auto;
}
.student-pic-container {
    display: flex;
    justify-content: center;
    width: 360px;
    /* flex-direction: row; */
}

.student-card-background {
    display: flex;
    color: #F6F3E1;
    flex-direction: column;
    background-color: #3D5E79;
    height: auto;
    width: 360px;
    margin: 1em;
    margin-left: 1em;
    border-radius: 1em;
}
.student-card-background-UX {
    display: flex;
    color: #F6F3E1;
    flex-direction: column;
    background-color: #2C323D;
    height: auto;
    width: 360px;
    margin: 1em;
    margin-left: 1em;
    border-radius: 1em;
}
.student-pic {
    display: flex;
    justify-content: center;
    width: 330px;
    height: auto;
    margin-top: .5em;
    border-radius: 1em;
}
.student-about-container {
    flex-flow: column wrap;
    margin-left: 1em;
    margin-right: 1em;
}
.student-logo {
    display: flex;
    width: 45px;
    height: auto;
    align-self: center;
    margin-left: .5em;
    margin-right: .5em;
}
.student-logo-container {
    display: flex;
    flex-direction: row;
    margin-left: .5em;
    width: 340px;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
    margin-bottom: .8em;
}
