body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .heroHeaderText {
  font-family: ;
} */

.navbar {
  display: flex;
  flex-direction: row;
}

.demoDayInfo {
  display: flex;
  flex-direction: row;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* .student-pic {

} */
